/* INTRODUCTION SECTION */
.introduction {
  padding: 280px 0;
}
.introduction__inner {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  animation: appear 3s 0.27s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* INTRODUCTION TITLE */
.introduction__title {
  margin-bottom: 20px;
  background: linear-gradient(to right, #f2a7bb, #b3d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 82px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

/* INTRODUCTION KEYWORD */
.introduction__keyword {
  margin-bottom: 60px;
  text-align: center;
}
.introduction__keyword span {
  margin: 0 8px;
  font-size: 34px;
  font-weight: 600;
}
.introduction__keyword span:nth-child(1) {
  color: #b3d4ff;
}
.introduction__keyword span:nth-child(2) {
  color: #b17efc;
}
.introduction__keyword span:nth-child(3) {
  color: #f2a7bb;
}
.introduction__keyword span:nth-child(4) {
  color: #d97e9f;
}

/* INTRODUCTION LOGOS */
.introduction__logos {
  display: flex;
  padding: 25px 30%;
  margin-bottom: 60px;
}
.introduction__logos div {
  margin: 0 auto;
}
.introduction__logos div img {
  width: 120px;
  height: 120px;
  animation: target_image 8s;
  animation-iteration-count: infinite;
  transform-origin: 25% 100%;
}
@keyframes target_image {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.introduction__logos div p {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

/* INTRODUCTION DSC */
.introduction__dsc p {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
  color: #b0b8c1;
}
