/* MAGAZINE SECTION */
.magazine {
  padding: 100px 0 200px;
}
.magazine__inner {
  display: flex;
  width: 1800px;
  margin: 0 auto;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* MAGAZINE TITLE */
.magazine__video {
  width: 50%;
  margin-right: 10px;
}
.magazine__video video {
  width: 100%;
}

/* MAGAZINE DSC */
.magazine__dsc {
  width: 50%;
  margin-left: 10px;
}
.magazine__dsc li img {
  width: 500px;
  margin: 0 auto 36px;
}
.magazine__dsc li:nth-child(2) {
  box-sizing: border-box;
  padding: 0 30px;
}
.magazine__dsc li p {
  color: #b0b8c1;
  font-size: 24px;
  text-align: center;
  line-height: 1.8;
}
