/* MAGAZINE SECTION */
.magazine {
  padding: 200px 0 150px;
}
.magazine__inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* MAGAZINE TITLE */
.magazine__title img {
  width: 600px;
  margin: 0 auto 100px;
}

/* MAGAZINE INFORMATION */
.magazine__info {
  display: flex;
}

/* MAGAZINE VIDEO */
.magazine__video {
  width: 550px;
}
.magazine__video video {
  width: 100%;
}

/* MAGAZINE DSC */
.magazine__dsc {
  width: 550px;
}
.magazine__dsc li img {
  width: 500px;
  margin: 0 auto 36px;
}
.magazine__dsc {
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}
.magazine__dsc p {
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  color: #b0b8c1;
}

/* MEDIA */
@media screen and (max-width: 375px) {
  .magazine {
    padding: 200px 0 100px;
  }
  .magazine__inner {
    width: 375px;
  }

  /* MAGAZINE TITLE */
  .magazine__title img {
    width: 280px;
    margin-bottom: 25px;
  }

  /* MAGAZINE INFORMATION */
  .magazine__info {
    display: inline;
  }

  /* MAGAZINE VIDEO */
  .magazine__video {
    width: 375px;
    margin-bottom: 25px;
  }

  /* MAGAZINE DSC */
  .magazine__dsc {
    width: 375px;
    padding: 0 20px;
  }
  .magazine__dsc p {
    font-size: 14.5px;
  }
}
