/* MEMBER MATCHING SECTION */
.memberMatching {
  padding: 150px 0 150px;
}
.memberMatching__inner {
  display: flex;
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* MEMBER MATCHING CONTENTS */
.memberMatching__contents {
  width: 550px;
  padding: 50px 0 100px;
}
.memberMatching__contents .contents__title {
  margin-bottom: 40px;
}
.memberMatching__contents .contents__title img:nth-child(1) {
  width: 550px;
  margin-bottom: 20px;
}
.memberMatching__contents .contents__title img:nth-child(2) {
  width: auto;
  height: 50.8px;
}
.memberMatching__contents .contents__dsc {
  margin-bottom: 40px;
}
.memberMatching__contents .contents__dsc p {
  color: #b0b8c1;
  font-size: 22px;
  line-height: 1.6;
}
.memberMatching__contents .contents__btn {
  margin-top: 30px;
}
.memberMatching__contents .contents__btn a {
  padding: 10px 50px;
  border: 2px solid #d97e9f;
  border-radius: 6px;
  background-color: #101010;
  font-size: 22px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: #d97e9f;
  cursor: pointer;
  transition: 0.3s;
}
.memberMatching__contents .contents__btn a:hover {
  background-color: #d97e9f;
  color: #fff;
}

/* MEMBER MATCHING IMAGE */
.memberMatching__img {
  width: 550px;
}
.memberMatching__img img {
  width: 550px;
}

/* MEDIA */
@media screen and (max-width: 375px) {
  .memberMatching {
    padding: 100px 0;
  }
  .memberMatching__inner {
    display: inline;
    width: 375px;
    height: auto;
  }

  /* MEMBER MATCHING CONTENTS */
  .memberMatching__contents {
    width: 375px;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  .memberMatching__contents .contents__title {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .memberMatching__contents .contents__title img:nth-child(1) {
    width: 300px;
  }
  .memberMatching__contents .contents__title img:nth-child(2) {
    width: auto;
    height: 27.31px;
  }
  .memberMatching__contents .contents__dsc p {
    font-size: 14px;
    padding-left: 20px;
  }
  .memberMatching__contents .contents__btn {
    margin-top: 0px;
    padding-left: 20px;
  }
  .memberMatching__contents .contents__btn a {
    padding: 5px 25px;
    font-size: 15px;
  }

  /* MEMBER MATCHING IMAGE */
  .memberMatching__img {
    width: 375px;
    margin-bottom: 10px;
  }
  .memberMatching__img img {
    width: 300px;
    margin: 0 auto;
  }

  /* MEMBER MATCHING BUTTON */
  .memberMatching__inner .contents__btn {
    width: 150px;
    margin: 0 auto;
  }
  .memberMatching__inner .contents__btn a {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border: 2px solid #d97e9f;
    border-radius: 6px;
    background-color: #101010;
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color: #d97e9f;
    cursor: pointer;
  }
}
