/* TITLE SECTION */
.title {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 950px;
  padding-bottom: 100px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.title__inner {
  overflow: hidden;
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding-top: 350px;
}
.title__inner img {
  width: 1050px;
  margin: 0 auto 20px;
  animation: 2s fadeinTitle linear;
}
.title__inner h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: #ababab;
  animation: 3.5s fadeinTitle linear;
}
.title #bg-video {
  opacity: 0.4;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 1100px;
  min-width: 100%;
}

/* FADEIN BOTTOM */
@keyframes fadeinTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MEDIA */
@media screen and (max-width: 414px) {
  .title {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 414px;
    height: 812px;
    padding-bottom: 50px;
  }
  .title__inner {
    overflow: hidden;
    width: 414px;
    padding: 0;
  }
  .title__inner img {
    width: auto;
    height: 54px;
  }
  .title__inner h2 {
    font-size: 24px;
  }
  .title #bg-video {
    height: 800px;
  }
}

@media screen and (max-width: 390px) {
  .title {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 390px;
    height: 812px;
    padding-bottom: 50px;
  }
  .title__inner {
    overflow: hidden;
    width: 390px;
    padding: 0;
  }
  .title__inner img {
    width: auto;
    height: 48px;
  }
  .title__inner h2 {
    font-size: 22px;
  }
  .title #bg-video {
    height: 800px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 375px;
    height: 812px;
    padding-bottom: 50px;
  }
  .title__inner {
    overflow: hidden;
    width: 375px;
    padding: 0;
  }
  .title__inner img {
    width: auto;
    height: 48px;
  }
  .title__inner h2 {
    font-size: 22px;
  }
  .title #bg-video {
    height: 800px;
  }
}

@media screen and (max-width: 360px) {
  .title {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 360px;
    height: 812px;
    padding-bottom: 50px;
  }
  .title__inner {
    overflow: hidden;
    width: 360px;
    padding: 0;
  }
  .title__inner img {
    width: auto;
    height: 48px;
  }
  .title__inner h2 {
    font-size: 22px;
  }
  .title #bg-video {
    height: 800px;
  }
}
