/* TITLE SECTION */
.title {
  height: 640px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  padding-bottom: 100px;
}
.title__inner {
  margin-top: 320px;
}
.title__inner img {
  margin: 0 auto 16px;
}
.title__inner h2 {
  margin: 0;
  font-size: 72px;
  font-weight: 600;
  text-align: center;
}
.title #bg-video {
  position: absolute;
  top: -1200px;
  width: auto;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
}
