/* CULUTRE CARD */
.culture__card {
  display: flex;
  width: 1056px;
  margin: 0 auto 120px;
  border-radius: 12px;
  box-shadow: 5px 5px 10px gray;
}

/* CULUTRE CARD CONT */
.culture__card .card__cont {
  width: 528px;
  height: 619px;
  box-sizing: border-box;
  padding: 60px;
  border-radius: 12px 0 0 12px;
  background-color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: black;
}
.culture__card .card__cont h2 {
  margin-bottom: 18px;
  font-size: 36px;
  font-weight: 600;
  line-height: 52px;
  color: #000;
}
.culture__card .card__cont span {
  line-height: 20px;
  font-size: 18px;
  color: #919191;
}
.culture__card .card__cont .cont__dsc {
  margin-top: 120px;
}
.culture__card .card__cont .cont__dsc p {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 28px;
  color: #000;
}
.culture__card .card__cont .cont__dsc span {
  margin-right: 4px;
  font-size: 16px;
}

/* CULUTRE CARD VOD */
.culture__card .card__vod {
  width: 528px;
  height: 619px;
}
.culture__card .card__vod video {
  border-radius: 0 12px 12px 0;
}
