/* DEV TEAM TITLE */
.devTeam__title {
  margin-bottom: 200px;
}
.devTeam__title img {
  margin: 0 auto 80px;
}
.devTeam__title video {
  width: 1300px;
  height: 730px;
  border: #fff;
  border-radius: 12px;
}
