/* DEV TEAM TITLE */
.devTeam__title {
  margin-bottom: 200px;
}
.devTeam__title img {
  width: 1050px;
  margin: 0 auto 80px;
}

/* DEV TEAM TITLE VIDEO */
.devTeam__title .title__video {
  width: 1050px;
  margin: 0 auto;
}
.devTeam__title video {
  border: #fff;
  border-radius: 12px;
  margin: 0 auto;
}
