version: '3.7'

services:
  nginx:
    build: ./nginx
    container_name: nginx
    volumes: 
      - static_volume:/usr/src/app/_static/
      - media_volume:/usr/src/app/_media/
    ports:
      - '80:80'
    depends_on:
      - web
      
  web:
    build: 
        context: ./app
        dockerfile: Dockerfile.prod
    container_name: web
    command: gunicorn fashion_scanner.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/usr/src/app/_static/
      - media_volume:/usr/src/app/_media/
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on: 
      - db

  db:
    image: postgres:12.0-alpine
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

volumes:
  postgres_data:
  static_volume:
  media_volume: