version: '3.7'

services:
  web:
    build: 
        context: ./app
        dockerfile: Dockerfile.prod
    container_name: web
    command: gunicorn fashion_scanner.wsgi:application --bind 0.0.0.0:8000
    ports:
      - 8000:8000
    env_file:
      - ./.env.prod
    depends_on: 
      - db

  db:
    image: postgres:12.0-alpine
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

volumes:
  postgres_data: