/* PICTURE EXAMPLE */
.picture__example {
  display: flex;
  width: 900px;
  margin: 60px auto 60px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: #484848;
}
.picture__example h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.8;
}
.picture__example p {
  width: 430px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
.picture__example img {
  width: 420px;
  margin: 0;
}

/* EXAMPLE GOOD */
.example__good {
  margin: 0 auto;
}
.example__good .good__dsc {
  margin-top: 40px;
}

/* EXAMPLE BAD */
.example__bad {
  margin: 0 auto;
}
.example__bad .bad__dsc {
  margin-bottom: 40px;
}

/* MEDIA */
@media screen and (max-width: 414px) {
  .picture__example {
    display: inline;
    width: 350px;
  }
  .picture__example h2 {
    font-size: 26px;
  }
  .picture__example img {
    width: 300px;
  }
  .picture__example p {
    width: 300px;
    font-size: 14px;
    line-height: 1.4;
  }

  /* EXAMPLE GOOD */
  .example__good {
    width: 300px;
    margin-bottom: 50px;
  }
  .example__good .good__dsc {
    margin-bottom: 15px;
  }

  /* EXAMPLE BAD */
  .example__bad {
    width: 300px;
    margin-bottom: 30px;
  }
  .example__bad .bad__dsc {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 390px) {
  .picture__example {
    display: inline;
    width: 350px;
  }
  .picture__example h2 {
    font-size: 26px;
  }
  .picture__example img {
    width: 300px;
  }
  .picture__example p {
    width: 300px;
    font-size: 14px;
    line-height: 1.4;
  }

  /* EXAMPLE GOOD */
  .example__good {
    width: 300px;
    margin-bottom: 50px;
  }
  .example__good .good__dsc {
    margin-bottom: 15px;
  }

  /* EXAMPLE BAD */
  .example__bad {
    width: 300px;
    margin-bottom: 30px;
  }
  .example__bad .bad__dsc {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 375px) {
  .picture__example {
    display: inline;
    width: 350px;
  }
  .picture__example h2 {
    font-size: 26px;
  }
  .picture__example img {
    width: 300px;
  }
  .picture__example p {
    width: 300px;
    font-size: 14px;
    line-height: 1.4;
  }

  /* EXAMPLE GOOD */
  .example__good {
    width: 300px;
    margin-bottom: 50px;
  }
  .example__good .good__dsc {
    margin-bottom: 15px;
  }

  /* EXAMPLE BAD */
  .example__bad {
    width: 300px;
    margin-bottom: 30px;
  }
  .example__bad .bad__dsc {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 360px) {
  .picture__example {
    display: inline;
    width: 350px;
  }
  .picture__example h2 {
    font-size: 25px;
  }
  .picture__example img {
    width: 300px;
  }
  .picture__example p {
    width: 300px;
    font-size: 14px;
    line-height: 1.4;
  }

  /* EXAMPLE GOOD */
  .example__good {
    width: 300px;
    margin-bottom: 50px;
  }
  .example__good .good__dsc {
    margin-bottom: 15px;
  }

  /* EXAMPLE BAD */
  .example__bad {
    width: 300px;
    margin-bottom: 30px;
  }
  .example__bad .bad__dsc {
    margin-bottom: 15px;
  }
}
