/* PICTURE EXAMPLE */
.picture__example {
  display: flex;
  width: 1100px;
  margin: 60px auto 80px;
  color: #484848;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.picture__example h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.8;
}
.picture__example p {
  font-size: 23px;
  font-weight: 300;
  line-height: 1.6;
}
.picture__example img {
  width: 520px;
}

/* EXAMPLE GOOD */
.example__good {
  margin: 0 auto;
}

/* EXAMPLE BAD */
.example__bad {
  margin: 0 auto;
}
.example__bad .bad__dsc {
  margin-bottom: 70px;
}
