/* FAIL CARD */
.failCard__inner {
  width: 1100px;
  height: 720px;
  margin: 0 auto;
  padding: 150px 0 200px;
}

/* FAIL CARD IMAGE */
.failCard__img {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto 20px;
  transition: 1s;
}
.failCard__img img {
  display: block;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
}

/* FAIL CARD TEXT */
.failCard__text {
  width: 600px;
  margin: 0 auto 30px;
}
.failCard__text p:nth-child(1) {
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
}
.failCard__text p:nth-child(2) {
  font-size: 18px;
  text-align: center;
  color: #333;
}

/* FAIL BUTTON */
.failCard__btn {
  display: flex;
  justify-content: center;
  text-align: center;
}
.failCard__btn a {
  box-sizing: border-box;
  padding: 10px 20px;
  border: 2px solid #4f4f4f;
  border-radius: 6px;
  background-color: #f3f3f3;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: #4f4f4f;
  cursor: pointer;
  transition: 0.3s;
}
.failCard__btn a:hover {
  background-color: #4f4f4f;
  color: #fff;
}
.failCard__btn a label {
  cursor: pointer;
}
