.submit {
  background-color: #fff;
}
.submit__inner {
  width: 1100px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  padding: 60px 0 120px;
}
.submit__inner button {
  width: 210px;
  height: 60px;
  padding: 10px 0;
  border: 5px solid #646464;
  border-radius: 4px;
  background-color: #fff;
  color: #646464;
  font-size: 24px;

  /* width: 200px; */
  /* height: 60px; */
  /* font-weight: 600; */
  cursor: pointer;
  box-sizing: border-box;
}
