/* MAIN IMAGE SECTION */
.faqmain {
  padding: 100px 150px;
}
.faqmain__inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

/* MAIN IMAGE BACKGROUND */
.fagmain__inner__wrapper {
  width: 1050px;
  height: 450px;
  margin: 0 auto;
}
.faqmain__inner__bg {
  position: relative;
  width: 1050px;
  height: 450px;
  border-radius: 50px;
  background-color: #f2a7bb;
}

/* MAIN IMAGE TEAM */
.faqmain__team__img img {
  width: 1050px;
  height: 450px;
  border-radius: 15px;
}

/* MAIN IMAGE BLACKPINK */
.faqmain__img__bg {
  display: inline-block;
  position: absolute;
  top: 110px;
  left: 300px;
  width: 500px;
  height: 230px;
  border-radius: 200px;
  background-color: #b17285;
  transform: rotate(45deg);
}
.faqmain__img {
  position: absolute;
  top: 55px;
  left: 350px;
}
.faqmain__img img {
  display: inline-block;
  width: auto;
  height: 350px;
  top: 20px;
  border-radius: 200px;
}

/* MAIN IMAGE TITLE */
.faqmain__inner__bg {
  position: relative;
}
.faqmain__inner__bg h2 {
  display: inline-block;
  font-size: 72px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: bold;
  color: #6b3f4c;
}
.faqmain__inner__bg h2:nth-child(1) {
  position: absolute;
  top: 50px;
  left: 80px;
  z-index: 2;
}
.faqmain__inner__bg h2:nth-child(2) {
  position: absolute;
  top: 120px;
  left: 100px;
}
.faqmain__inner__bg h2:nth-child(3) {
  position: absolute;
  bottom: 120px;
  right: 80px;
  z-index: 2;
}
.faqmain__inner__bg h2:nth-child(4) {
  position: absolute;
  bottom: 50px;
  right: 120px;
  z-index: 1;
}

@media screen and (max-width: 375px) {
  /* MAIN IMAGE SECTION */
.faqmain {
  padding: 0;
  width: 100%;
}
.faqmain__inner {
  width: inherit;
}

/* MAIN IMAGE BACKGROUND */
.fagmain__inner__wrapper {
  width: inherit;
  height: auto;
}
.faqmain__inner__bg {
  position: relative;
  width: 90%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
}

/* MAIN IMAGE BLACKPINK */
.faqmain__img__bg {
  display: none;
}
.faqmain__img {
  position: static;
  display: flex;
  width: 90%;
  margin: auto;
  top: 0; left: 0;
}
.faqmain__img img {
  display: inline-block;
  width: 100%;
  height: auto;
  top: 0;
}

/* MAIN IMAGE TITLE */
.faqmain__inner__bg {
  position: relative;
  display: flex;
  flex-direction: column;
}
.faqmain__inner__bg h2 {
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  color: #6b3f4c;
}
.faqmain__inner__bg h2:nth-child(1) {
  top: 10%; 
  left: 11%;
}
.faqmain__inner__bg h2:nth-child(2) {
  top: 20%;
  left: 9%;
}
.faqmain__inner__bg h2:nth-child(3) {
  bottom: 20%;
  right: 20%;
}
.faqmain__inner__bg h2:nth-child(4) {
  bottom: 10%;
  right: 30%;
}
}