/* MAIN IMAGE SECTION */
.faqmain {
  padding: 100px 0px;
}
.faqmain__inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

/* MAIN IMAGE BACKGROUND */
.fagmain__inner__wrapper {
  width: 1050px;
  height: 450px;
  margin: 0 auto;
}
.faqmain__inner__bg {
  position: relative;
  width: 1050px;
  height: 450px;
  border-radius: 50px;
  background-color: #f2a7bb;
}

/* MAIN IMAGE TEAM */
.faqmain__team__img img {
  width: 1050px;
  height: 450px;
  border-radius: 12px;
  object-fit: cover;
}

/* MAIN IMAGE BLACKPINK */
.faqmain__img__bg {
  display: inline-block;
  position: absolute;
  top: 110px;
  left: 300px;
  width: 500px;
  height: 230px;
  border-radius: 200px;
  background-color: #b17285;
  transform: rotate(45deg);
}
.faqmain__img {
  position: absolute;
  top: 55px;
  left: 350px;
}
.faqmain__img img {
  display: inline-block;
  top: 20px;
  width: auto;
  height: 350px;
  border-radius: 200px;
}

/* MAIN IMAGE TITLE */
.faqmain__inner__bg {
  position: relative;
  border-radius: 12px;
}
.faqmain__inner__bg h2 {
  display: inline-block;
  font-size: 72px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: bold;
  color: #6b3f4c;
}
.faqmain__inner__bg h2:nth-child(1) {
  position: absolute;
  top: 50px;
  left: 80px;
  z-index: 2;
}
.faqmain__inner__bg h2:nth-child(2) {
  position: absolute;
  top: 120px;
  left: 100px;
}
.faqmain__inner__bg h2:nth-child(3) {
  position: absolute;
  bottom: 120px;
  right: 80px;
  z-index: 2;
}
.faqmain__inner__bg h2:nth-child(4) {
  position: absolute;
  bottom: 50px;
  right: 120px;
  z-index: 1;
}

/* MEDIA */
@media screen and (max-width: 390px) {
  /* MAIN IMAGE SECTION */
  .faqmain {
    width: 360px;
    margin: auto;
    padding: 0;
  }
  .faqmain__inner {
    width: inherit;
  }

  /* MAIN IMAGE BACKGROUND */
  .fagmain__inner__wrapper {
    width: inherit;
    height: auto;
  }
  .faqmain__inner__bg {
    position: relative;
    width: 324px;
    height: 500px;
    margin: auto;
    margin-top: 70px;
  }

  /* MAIN IMAGE BLACKPINK */
  .faqmain__img__bg {
    display: none;
  }
  .faqmain__img {
    display: flex;
    position: static;
    top: 0;
    left: 0;
    width: 291px;
    margin: auto;
  }
  .faqmain__img img {
    display: inline-block;
    top: 0;
    width: 291px;
    height: auto;
  }

  /* MAIN IMAGE TITLE */
  .faqmain__inner__bg {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .faqmain__inner__bg h2 {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    color: #6b3f4c;
  }
  .faqmain__inner__bg h2:nth-child(1) {
    top: 50px;
    left: 30px;
  }
  .faqmain__inner__bg h2:nth-child(2) {
    top: 100px;
    left: 20px;
  }
  .faqmain__inner__bg h2:nth-child(3) {
    right: 65px;
    bottom: 80px;
  }
  .faqmain__inner__bg h2:nth-child(4) {
    right: 90px;
    bottom: 30px;
  }
}

@media screen and (max-width: 375px) {
  /* MAIN IMAGE SECTION */
  .faqmain {
    width: 360px;
    margin: auto;
    padding: 0;
  }
  .faqmain__inner {
    width: inherit;
  }

  /* MAIN IMAGE BACKGROUND */
  .fagmain__inner__wrapper {
    width: inherit;
    height: auto;
  }
  .faqmain__inner__bg {
    position: relative;
    width: 324px;
    height: 500px;
    margin: auto;
    margin-top: 70px;
  }

  /* MAIN IMAGE BLACKPINK */
  .faqmain__img__bg {
    display: none;
  }
  .faqmain__img {
    display: flex;
    position: static;
    top: 0;
    left: 0;
    width: 291px;
    margin: auto;
  }
  .faqmain__img img {
    display: inline-block;
    top: 0;
    width: 291px;
    height: auto;
  }

  /* MAIN IMAGE TITLE */
  .faqmain__inner__bg {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .faqmain__inner__bg h2 {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    color: #6b3f4c;
  }
  .faqmain__inner__bg h2:nth-child(1) {
    top: 50px;
    left: 30px;
  }
  .faqmain__inner__bg h2:nth-child(2) {
    top: 100px;
    left: 20px;
  }
  .faqmain__inner__bg h2:nth-child(3) {
    right: 65px;
    bottom: 80px;
  }
  .faqmain__inner__bg h2:nth-child(4) {
    right: 90px;
    bottom: 30px;
  }
}
