/* QUESTIONS SECTION */
.questions {
  padding-bottom: 200px;
}
.questions__inner {
  position: relative;
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}

/* QUESTIONS TITLE */
.questions__inner h2 {
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
}

/* QUESTIONS TAB */
.questions__tab {
  display: flex;
  margin-bottom: 60px;
}
.questions__tab__content {
  margin-right: 20px;
}
.questions__tab__content h3 {
  padding: 10px 18px;
  font-size: 17px;
  font-weight: 600;
  color: #afb8c1;
  cursor: pointer;
}
.questions__tab__content.active {
  border-radius: 30px;
  background-color: #313740a1;
}
.questions__tab__content.active h3 {
  color: #f2f4f6;
}

/* QUESTIONS CONTENT */
.questions__question {
  margin-bottom: 50px;
}
.questions__question p:nth-child(1) {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  color: #b0b8c1;
}
.questions__question p:nth-child(2) {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  color: #6b7684;
}

/* MEDIA */
@media screen and (max-width: 375px) {
  /* QUESTIONS SECTION */
  .questions {
    padding-bottom: 0;
    margin-bottom: 150px;
  }
  .questions__inner {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    min-width: 0;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
  }

  /* QUESTIONS TITLE */
  .questions__inner h2 {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
  }

  /* QUESTIONS TAB */
  .questions__tab {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
