/* COMMON */
.root {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  line-height: 1.4;
  height: 100%;
  background-color: #101010;
  overflow-x: hidden;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
video {
  width: 100%;
  top: -100;
}
