/* NOT FOUND SECTION */
.notfound {
  background-color: white;
  height: 900px;
}
.notfound .notfound__inner {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  width: 900px;
  margin: auto;
}

/* NOT FOUND IMAGE */
.notfound__img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px 0 20px;
}
.notfound .notfound__inner .notfound__img img:nth-child(1){
  width: 50px;
  margin: auto;
}
.notfound .notfound__inner .notfound__img img:nth-child(2){
  width: 400px;
  margin: auto;
}

/* NOT FOUND DSC */
.notfound .notfound__inner .notfound__dsc{
  font-size: 48px;
  color: #DE989C;
  text-align: center;
}
.notfound .notfound__inner .notfound__dsc a{
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  background: black;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}