/* RESULT */
.result {
  background-color: #fff;
}
.result__inner {
  width: 1100px;
  margin: 0 auto;
  padding: 125px 0 300px;
  color: black;
}

/* RESULT GUIDE */
.result__inner .guide {
  color: #f2a7bb;
  transform: 0.5s;
  margin-bottom: 25px;
  animation: 1.2s fadein linear;
}
.result__inner .guide p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.result__inner .guide span {
  display: block;
  width: 60px;
  margin: 0 auto;
  font-size: 60px;
}

/* RESULT TITLE */
.result__inner .result__title {
  width: auto;
  height: 88px;
  margin: 0 auto 25px;
}

/* RESULT CARDS */
.result__inner .cards {
  display: flex;
}

/* FADEIN */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 375px) {
  /* RESULT */
  .result__inner {
    width: 375px;
    padding: 100px 0 150px;
  }

  /* RESULT GUIDE */
  .result__inner .guide {
    height: 88px;
    margin-bottom: 15px;
  }
  .result__inner .guide span {
    width: 50px;
    font-size: 50px;
  }

  /* RESULT TITLE */
  .result__inner .result__title {
    height: 38px;
    padding-top: 20px;
  }

  /* RESULT CARDS */
  .result__inner .cards {
    display: inline;
  }
}
