/* MOBILE LOOKBOOK MAIN SECTION */
.m-lookbookmain {
  height: 1000px;
  background-color: rgb(252, 252, 252);
}
.m-lookbookmain .m-lookbookmain__inner {
  width: 350px;
  height: inherit;
  margin: auto;
}

/* MOBILE LOOKBOOK THUMBNAILS */
.m-lookbookmain__thumbnails {
  width: 300px;
}
.m-lookbookmain__thumbnails .m-lookbookmain__thumb {
  margin: 20px 0px;
}
.m-lookbookmain__thumbnails .m-lookbookmain__thumb img {
  width: 80px;
}

/* MOBILE LOOKBOOK MAIN IMAGES */
.m-lookbookmain__main {
  width: 320px;
}
.m-lookbookmain__mainimg img {
  width: 300px;
  margin: auto;
  border-radius: 15px;
}

/* MOBILE LOOKBOOK MAIN CONTENT */
.m-lookbookmain__maincont {
  width: 320px;
  height: 130px;
  margin-bottom: 20px;
  background-color: rgb(252, 252, 252);
}
.m-lookbookmain__maincont div {
  display: flex;
  margin: 15px 25px;
}
.m-lookbookmain__maincont div h3 {
  width: 100px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #5f5f5f;
}
.m-lookbookmain__maincont div span {
  font-size: 14px;
  color: #7E7E7E;
}
.m-lookbookmain__maincont .m-lookbookmain__line2 .m-lookbookmain__colorbox {
  width: 18px;
  height: 18px;
  margin: 0;
  background-color: black;
}

/* MOBILE LOOKBOOK MAIN RECOMMEND IMAGE */
.m-lookbookmain__recomm {
  width: 320px;
  height: 200px;
}
.m-lookbookmain__recomm h3 {
  font-size: 16px;
  font-weight: 500;
  color: #f2a7bb;
}
.m-lookbookmain__recomm .m-lookbookmain__recomm__inner {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: space-between;
}
.m-lookbookmain__recomm .m-lookbookmain__recomm__inner div {
  position: relative;
}
.m-lookbookmain__recomm .m-lookbookmain__recomm__inner div a img {
  width: 90px;
}

/* SWIPER CORE NAVIGATION BUTTON */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -1px;
  top: 300px;
  right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  top: 300px;
  right: -2px;
  left: auto;
}