.footer__inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.footer__info {
  display: flex;
}

.footer__info .info__contact {
  /* position: absolute; */
}

.footer__info .info__sns {
  position: absolute;
  right: 0;
}
