/* FOOTER */
footer {
  bottom: 0;
  background-color: #1b1b1b;
}
footer .inner {
  position: relative;
  width: 1100px;
  padding: 50px 0 100px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  line-height: 3;
  color: #d1d6db;
}
footer .info {
  display: flex;
  height: 200px;
  margin-bottom: 30px;
}

/* FOOTER INFO CONTACT */
footer .info .info__contact {
  position: absolute;
  left: 0;
}
footer .info .info__contact li:first-child {
  margin-bottom: 30px;
}
footer .info .info__contact .material-icons {
  margin-right: 15px;
  padding: 5px;
  border-radius: 100%;
  background-color: #3a3a3a;
  font-size: 16px;
}

/* FOOTER INFO TEAM */
footer .info .info__team {
  position: absolute;
  right: 0;
}
footer .info .info__team .sns__icon {
  margin-right: 16px;
  font-size: 30px;
  cursor: pointer;
}
footer .info .info__team li:nth-child(1),
footer .info .info__team li:nth-child(2) {
  line-height: 2.5;
}
footer .info .info__team ul li {
  font-size: 16px;
}
footer .info .info__team ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
footer .info .info__team ul li a:hover {
  color: #d1d6db;
}
footer .info .info__team .team__dev {
  margin-bottom: 25px;
}
footer .info .info__team .team__sns li:first-child {
  margin-bottom: 5px;
}
footer .inner .copyright {
  position: absolute;
  width: 100%;
}
footer .inner .copyright p {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
footer .copyright .material-icons {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 24px;
}

@media screen and (max-width: 375px) {
  footer {
    bottom: 0;
  }
  footer .inner {
    box-sizing: border-box;
    width: 375px;
    padding: 50px 20px;
    font-size: 15px;
  }
  footer .info {
    height: 400px;
  }

  /* FOOTER INFO CONTACT */
  footer .info .info__contact {
    position: relative;
  }
  footer .info .info__contact li:first-child img {
    width: 250px;
    height: auto;
  }

  /* FOOTER INFO TEAM */
  footer .info .info__team {
    top: 250px;
    left: 20px;
  }
  footer .inner .copyright {
    width: 330px;
  }
  footer .inner .copyright p {
    font-size: 12px;
  }
}
