/* NAVIGATION */
header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
}
header nav {
  position: relative;
}

/* NAVIGATION LOGO */
header .logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 20px;
  margin: 20px auto;
}
header img {
  width: 100;
  height: 20px;
}

/* HAMBURGER ICON */
header .inner .material-icons {
  display: none;
}

/* NAVIGATION LINK GROUP */
header .link-group {
  display: flex;
  position: absolute;
  top: 10px;
  right: 200px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
header .link-group ul.link {
  display: flex;
}
header .link-group ul.link li {
  position: relative;
  width: auto;
  height: 100%;
}
header .link-group ul.link li a {
  display: block;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 12px 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}
header .link-group ul.link li a:hover {
  color: #d1d6db;
}

/* NAVIGATION LANGUAGE GROUP */
header .language-group {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
header .language-group ul {
  display: flex;
}
header .language-group ul.language li {
  position: relative;
  width: auto;
  height: 100%;
}
header .language-group ul.language li a {
  display: block;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 12px 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}
header .language-group ul.language li a:hover {
  color: #d1d6db;
}
header .language-group ul.language span {
  display: block;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 12px 10px;
  font-size: 15px;
  color: #fff;
  transition: 0.1s;
}

@media screen and (max-width: 375px) {
  /* NAVIGATION */
header {
  position: fixed !important;
  width: 375px;
}
header .inner {
  width: inherit;
  margin: 0 auto;
}

/* NAVIGATION LOGO */
header .logo {
  left: 115px;
}
header img {
  width: 150px;
  height: auto;
}

/* HAMBURGER ICON */
header .inner .material-icons {
  display: inline-block;
  padding: 15px;
}

/* NAVIGATION LINK GROUP */
header .link-group {
  overflow: hidden;
  top: 58px;
  right: 0;
  width: inherit;
  height: 0;
  background-color: rgba(0, 0, 0, 0.664);
  transition: height 0.4s;
}
header .link-group.active {
  height: 180px;
}
header .link-group ul.link {
  flex-direction: column;
  width: inherit;
}
header .link-group ul.link li a {
  padding: 12px 20px;
}

/* NAVIGATION LANGUAGE GROUP */
header .language-group {
  top: 6px;
  right: 10px;
  padding: 10px;
}

}